.home-container {
  text-align: center;
  margin-top: 0px;
  height: 87vh;
  background-image: url(C:\Users\hp\OneDrive\Desktop\HealthCare\frontend\src\styles\514-5148559_doctors-doctor-and-patient-png-transparent-png.png); /* Adjust path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

